img.photolist{
	height: 300px;
}
div#overlay{
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	display: none;
}
div#lightbox{
	z-index: 1010;
	position: fixed;
	background-color: whitesmoke;
	left: 5%;
	width: 90%;
	height: 30%;
	top: 20%;
	border-radius: 2px;
	display: none;
}
.lightbox{
	float: left;
	width: 150px;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
	background-color: gray;
}